{% extends "site/base/inner.html" %}

{% load i18n %}

{% block page_content %}
    {{ request.page.before_content|safe }}
    <div class="page-header">
        <h3>{% trans 'Send Message' %}</h3>
    </div>
    <form method="POST" class="form-horizontal" enctype="multipart/form-data">
        {% csrf_token %}
        {% include "site/forms/horizontal.html" %}
        <div class="form-group">
            <div class="col-xs-9 col-xs-offset-3">
                <button type="submit" class="btn btn-primary">{% trans 'Send' %}</button>
            </div>
        </div>
    </form>
    {{ request.page.after_content|safe }}
{% endblock %}