{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}{% if request.page %}{{ request.page.title }}{% endif %}{% endblock %} &mdash; {{ sitesettings.site_title }}</title>
    <meta name="description" content="{% block description %}{% if request.page %}{{ request.page.seo_description }}{% endif %}{% endblock %}">
    <meta name="keywords" content="{% block keywords %}{% if request.page %}{{ request.page.seo_keywords }}{% endif %}{% endblock %}">
    <link type="image/png" rel="shortcut icon" href="{% static 'site/img/favicon.ico' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block preload_js %}{% endblock %}

    {% block core_css %}
        <link href="{% static 'site/assets/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" media="all"/>
        <link href="{% static 'site/assets/bootstrap/css/bootstrap-theme.min.css' %}" rel="stylesheet" type="text/css" media="all"/>
        <link href="{% static 'site/css/styles.css' %}" rel="stylesheet" type="text/css" media="all"/>
    {% endblock %}
    {% block css %}{% endblock %}
    {% block inline_css %}{% endblock %}

    <script src="{% static 'site/js/lib/shiv/html5shiv.js' %}"></script>
</head>
<body {% block body_attrs %}{% endblock %}>
{% csrf_token %}
{% spaceless %}
    {% block body %}
    {% endblock %}

    {% block core_js %}
        <script src="{% static 'site/js/lib/jquery/jquery-1.11.1.min.js' %}"></script>
        <script src="{% static 'site/js/lib/respond/dest/respond.min.js' %}"></script>
        <script src="{% static 'site/assets/bootstrap/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'site/js/lib/jquery-form/jquery.form.js' %}"></script>
        <script src="{% static 'site/js/lib/jquery-placeholder/jquery-placeholder.js' %}"></script>
        <script src="{% static 'site/js/lib/jquery-cookie/jquery.cookie.js' %}"></script>
        <script src="{% static 'site/js/lib/modernizr/modernizr.js' %}"></script>
        <script src="{% static 'site/js/app/common/system.js' %}"></script>
        <script src="{% static 'site/js/app/common/ajax.js' %}"></script>
        <script src="{% static 'site/js/app/common/ui.js' %}"></script>
    {% endblock %}
    {% block js %}{% endblock %}
    {% block inline_js %}{% endblock %}
{% endspaceless %}
</body>
</html>
