{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}{% if request.page %}{{ request.page.title }} &mdash;
    {% endif %}{% endblock %}{{ sitesettings.site_title }}</title>
    <meta name="description" content="{% block seo_description %}{% if request.page %}{{ request.page.description }}{% else %}{{ sitesettings.description }}{% endif %}{% endblock %}">
    <meta name="keywords" content="{% block seo_keywords %}{% if request.page %}{{ request.page.keywords }}{% else %}{{ sitesettings.keywords }}{% endif %}{% endblock %}">
    <link type="image/png" rel="shortcut icon" href="{% static 'site/img/favicon.ico' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block preload_js %}{% endblock %}

    {% block core_css %}
        <link href="{% static 'site/assets/bootstrap-3.3.1/dist/css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all"/>
        <link rel="stylesheet" href="{% static 'site/icons/fontawesome/assets/css/font-awesome.min.css' %}"/>
        <link href="{% static 'site/css/style.css' %}" rel="stylesheet" type="text/css" media="all"/>
    {% endblock %}
    {% block css %}{% endblock %}
    {% block inline_css %}{% endblock %}

</head>
<body {% block body_attrs %}{% endblock %}>
{% csrf_token %}
{% spaceless %}
    {% block body %}
    {% endblock %}

    {% block core_js %}
        <script src="{% static 'site/js/lib/jquery/jquery.min.js' %}"></script>
        <script src="{% static 'site/js/lib/jquery/jquery-migrate.min.js' %}"></script>
        <script src="{% static 'site/assets/bootstrap-3.3.1/dist/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'site/js/lib/modernizr/modernizr.js' %}"></script>
    {% endblock %}
    {% block js %}{% endblock %}
    {% block inline_js %}{% endblock %}
{% endspaceless %}
</body>
</html>
