{% extends "site/base/base.html" %}

{% block body %}
    <div class="wrapper">
        <div class="page-preview" {% block page_preview_extra %}{% endblock %}>
            <div class="page-preview-overlay"></div>
            <div class="page-preview-content">
                {% block page_preview %}
                {% endblock %}
            </div>
        </div>
        <div class="page">
            <div class="page-content">
                {% block page_content %}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}