{% load startswith %}

{% for page in pages %}
    {% if page.children.all %}
        <li class="dropdown {% if page == request.page.parent %}active{% endif %}">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                {{ page.menu_name }} <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
                {% for child in page.children.all %}
                    {% if child.is_enabled and child.is_in_menu %}
                        <li>
                            <a href="{{ child.get_menu_url }}">{{ child.menu_name }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </li>
    {% else %}
        <li {% ifstartswith request.path page.get_menu_url %}class="active"{% endifstartswith %}>
            <a href="{{ page.get_menu_url }}">{{ page.menu_name }}</a>
        </li>
    {% endif %}
{% endfor %}