.errorlist {
  padding: 5px 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  border-color: @errorlist-border-color;
  border-style: solid;
  border-radius: 4px;
  background-color: @errorlist-bg;
  color: @errorlist-color;
  border-width: @errorlist-border-width;
  list-style: none;
}