{% extends "site/base/index.html" %}

{% load i18n %}

{% block content %}
    <div class="container">
        <div class="jumbotron">
            <h1>Hello, world!</h1>
            <p>
                {% blocktrans %}
                    This is the DartCMS demo site. You may change content of this page in the
                    <code>/tpl/site/homepage/index.html</code>
                {% endblocktrans %}
            </p>
        </div>
    </div>

    {{ sitesettings.footer | safe }}

{% endblock %}
