{% extends "site/base/index.html" %}

{% load static thumbnail %}

{% block page_preview_extra %}style="background:url('{% static 'site/img/page-preview-bg.jpg' %}');"{% endblock %}

{% block page_preview %}
    <div class="avatar">
        <img class="img img-circle" src="https://pp.vk.me/c618429/v618429110/1809c/e8Av0qAguFE.jpg"/>
    </div>
    <div class="page-preview-header">
        <h1>Дмитрий Астриков</h1>
    </div>
    <div class="page-preview-subheader">
        <h2>Python разработчик</h2>
    </div>
    <div class="contact-list-wrapper">
        <ul class="contact-list">
            <li>
                <a href="#">
                    <i class="fa fa-vk"></i>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-facebook"></i>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-envelope"></i>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-google-plus-square"></i>
                </a>
            </li>
        </ul>
    </div>
    <div class="page-preview-footer">
        <div class="copyright">
            &copy; {% now "Y" %}
        </div>
    </div>
{% endblock %}

{% block page_content %}
    <div class="container-fluid">
        <div class="page-header">
            <h3>Кто я?</h3>
        </div>
        <p>
            Я работаю над различными интернет-проектами. Пишу, в основном, на Python/Django.
            Основной стек технологий, которые я использую в работе: PostgreSQL, CSS3, HTML5, jQuery, AJAX, LESS, Grunt,
            Git, Mercurial.
        </p>

        <div class="page-header">
            <h3>Собственные проекты</h3>
        </div>
        <div class="row">
            {% for object in own_projects %}
            <div class="col-sm-4 text-center project-thumbnail">
                <a href="{{ object.url }}">
                    <img class="img img-thumbnail" src="{{ object.picture|thumbnail:"350x200" }}"/>
                </a>
                <div class="project-caption">
                    <h2>{{ object.name }}</h2>
                    {{ object.short_text|safe }}
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="page-header">
            <h3>Проекты на заказ</h3>
        </div>
        <div class="row">
            <div class="col-sm-4 text-center project-thumbnail">
                <a href="#">
                    <img class="img img-thumbnail" src="http://placehold.it/350x200"/>
                </a>
            </div>
            <div class="col-sm-4 text-center project-thumbnail">
                <a href="#">
                    <img class="img img-thumbnail" src="http://placehold.it/350x200"/>
                </a>
            </div>
            <div class="col-sm-4 text-center project-thumbnail">
                <a href="#">
                    <img class="img img-thumbnail" src="http://placehold.it/350x200"/>
                </a>
            </div>
            <div class="col-sm-4 text-center project-thumbnail">
                <a href="#">
                    <img class="img img-thumbnail" src="http://placehold.it/350x200"/>
                </a>
            </div>
            <div class="col-sm-4 text-center project-thumbnail">
                <a href="#">
                    <img class="img img-thumbnail" src="http://placehold.it/350x200"/>
                </a>
            </div>
            <div class="col-sm-4 text-center project-thumbnail">
                <a href="#">
                    <img class="img img-thumbnail" src="http://placehold.it/350x200"/>
                </a>
            </div>
        </div>
        <div class="page-header">
            <h3>Свяжитесь со мной</h3>
        </div>
        <p>
            Я всегда готов к интересным проектам. Вы можете связаться со мной в любой из социальных сетей, написать
            мне на почту или отправить сообщение с помощью формы ниже.
        </p>

        <form method="POST" class="feedback-form">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <input type="text" class="form-control input-lg" placeholder="Представьтесь, пожалуйста">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <input type="email" class="form-control input-lg" placeholder="Ваш email">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <textarea class="form-control input-lg" placeholder="Текст сообщения" rows="6"></textarea>
            </div>
            <div class="form-actions">
                <button type="submit" class="btn btn-default btn-lg">Отправить</button>
            </div>
        </form>
    </div>
{% endblock %}
