{% extends "adm/base/generic/grid.html" %}


{% block grid_controls %}
    {{ block.super }}
    <div class="well well-sm" style="margin-top:20px;">
        <form method="GET" class="form-inline" action="{% url 'visitors:index' %}">
            <div class="form-group">
                <label for="id_event">Событие:&nbsp;</label>
                <select name="event" id="id_event" class="form-control" style="width:250px">
                    {% for event in events %}
                        <option value="{{ event.pk }}" {% if event == selected_event %}selected="selected"{% endif %}>{{ event.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="id_keyword">&nbsp;Поиск:&nbsp;</label>
                <input type="text" class="form-control" name="keyword" style="width:250px" value="{{ keyword }}" placeholder="По имени, email"/>
            </div>
            &nbsp;
            <button type="submit" class="btn btn-success">
                <i class="fa fa-search"></i> Поиск
            </button>
        </form>
    </div>
{% endblock %}
