{% extends "adm/base/index.html" %}

{% load attribute list i18n filename static %}

{% block js %}
    {{ block.super }}
    <script src="{% static 'adm/js/app/ui/grid.js' %}"></script>
{% endblock %}

{% block breadcrumbs_current_path %}
    <li class="active">{{ page_header|capfirst }}</li>
{% endblock %}

{% block content %}
    <h1>{{ page_header|capfirst }}</h1>
    <div class="grid-controls">
        {% block grid_controls %}
            {% if parent_url %}
                <a href="{{ parent_url }}" class="btn btn-default">
                    <i class="fa fa-arrow-left"></i> {% trans 'Back' %}
                </a>&nbsp;
            {% endif %}

            {% if allow_insert %}
                <a href="{{ index_url }}insert/" class="btn btn-success">
                    <i class="fa fa-plus-square"></i> {% trans 'Add Record' %}
                </a>&nbsp;
            {% endif %}

            {% if allow_update %}
                <a href="{{ index_url }}update/" class="btn btn-warning btn-disabled btn-update">
                    <i class="fa fa-pencil-square"></i> {% trans 'Edit' %}
                </a>&nbsp;
            {% endif %}

            {% if allow_delete %}
                <a href="{{ index_url }}delete/" class="btn btn-danger btn-disabled btn-delete">
                    <i class="fa fa-trash"></i> {% trans 'Delete' %}
                </a>&nbsp;
            {% endif %}

            {% for action in object_actions %}
                <a href="{% if action.1 %}{{ request.path }}{{ action.1 }}/{% else %}{{ index_url }}children/{% endif %}"
                   class="btn btn-{% if action.3 %}{{ action.3 }}{% else %}info{% endif %} btn-children btn-disabled">
                    {% if action.2 %}<i class="fa {{ action.2 }}"></i>{% endif %} {{ action.0 }}
                </a>&nbsp;
            {% endfor %}

        {% endblock %}
    </div>
    {% if search_by %}
        <div class="well well-sm">
            <form method="GET" class="form-inline">
                {% for field in search_by %}
                    <div class="form-group">
                        {% if field.2 == 'text' or not field.2 %}
                            <input type="text" name="{{ field.0 }}" placeholder="{{ field.1 }}" class="form-control"
                                   value="{{ search_values|lookup:forloop.counter0 }}"/>
                        {% elif field.2 == 'datetime' %}
                            <input type="text" name="{{ field.0 }}_from" placeholder="{{ field.1 }} от"
                                   class="form-control datetime"
                                   value="{{ search_values|lookup:forloop.counter0|lookup:0 }}"/>&nbsp;
                            <input type="text" name="{{ field.0 }}_to" placeholder="{{ field.1 }} до"
                                   class="form-control datetime"
                                   value="{{ search_values|lookup:forloop.counter0|lookup:1 }}"/>
                        {% elif field.2 == 'boolean' %}
                            <label><input type="checkbox" name="{{ field.0 }}"
                                          {% if search_values|lookup:forloop.counter0 %}checked="checked"{% endif %}/> {{ field.1 }}
                            </label>
                        {% endif %}
                    </div>&nbsp;
                {% endfor %}
                <input type="submit" name="search" class="btn btn-primary" value="{% trans 'Search' %}"/>
            </form>
        </div>
    {% endif %}
    <div class="well well-sm">
        {% block object_list %}
            {% if object_list %}
                <table class="table">
                    <thead>
                    <tr>
                        {% for column in grid_columns %}
                            <th width="{{ column.3 }}">{{ column.1 }}</th>
                        {% endfor %}
                    </tr>
                    </thead>
                    {% for object in object_list %}
                        <tr class="clickable-row" data-pk="{{ object.pk }}">
                            {% for column in grid_columns %}
                                <td>
                                    {% with column.0 as index %}
                                        {% if column.2 == 'datetime' %}
                                            {{ object|attribute:index|date:"d.m.Y H:i:s" }}
                                        {% elif column.2 == 'date' %}
                                            {{ object|attribute:index|date:"d.m.Y" }}
                                        {% elif column.2 == 'time' %}
                                            {{ object|attribute:index|date:"H:i:s" }}
                                        {% elif column.2 == 'file' %}
                                            <a href="{{ MEDIA_URL }}{{ object|attribute:index }}" target="_blank">{{ object|attribute:index|filename }}</a>
                                        {% elif column.2 == 'image' %}
                                            <img src="{{ MEDIA_URL }}{{ object|attribute:index }}" class="img-thumbnail"/>
                                        {% elif column.2 == 'boolean' %}
                                            {% if object|attribute:index %}
                                                <i class="fa fa-check-circle"></i>
                                            {% else %}
                                                <i class="fa fa-times-circle"></i>
                                            {% endif %}
                                        {% else %}
                                            {{ object|attribute:index|striptags }}
                                        {% endif %}
                                    {% endwith %}
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </table>
                {% if is_paginated %}
                    {% include 'adm/lists/pagination.html' with pagination_url=index_url %}
                {% endif %}
            {% else %}
                <p>{% trans 'Records not found.' %}</p>
            {% endif %}
        {% endblock %}
    </div>
{% endblock %}