{% extends "adm/base/generic/update.html" %}

{% load static %}

{% block js %}
    {{ block.super }}
    <script src="//api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
    <script>
        ymaps.ready(init);
        var myMap;

        function init() {

            var myPlacemark = null,
                lat = $('#id_lat'),
                lon = $('#id_lon');
            if (lat.val() && lon.val()) {
                myMap = new ymaps.Map("map", {
                    center: [lat.val(), lon.val()],
                    zoom: 14
                }, {
                    balloonMaxWidth: 200
                });
                myPlacemark = new ymaps.Placemark([lat.val(), lon.val()]);
                myMap.geoObjects.add(myPlacemark);
            } else {
                myPlacemark = null;
                myMap = new ymaps.Map("map", {
                    center: [56.013017, 92.879167],
                    zoom: 14
                }, {
                    balloonMaxWidth: 200
                });
            }
            myMap.controls.add('zoomControl');
            myMap.controls.add('typeSelector');

            myMap.events.add('click', function (e) {
                var coords = e.get('coords');
                if (myPlacemark) {
                    myMap.geoObjects.remove(myPlacemark);
                }
                lat.val(coords[0].toPrecision(6));
                lon.val(coords[1].toPrecision(6));
                myPlacemark = new ymaps.Placemark([coords[0].toPrecision(6), coords[1].toPrecision(6)]);
                myMap.geoObjects.add(myPlacemark);
            });
        }
    </script>
{% endblock %}

{% block additional_form_fields %}
    <div class="form-group">
        <label class="col-xs-3 control-label">{% trans 'Mark address on the map' %}</label>

        <div class="col-xs-9">
            <div id="map" class="map-holder" style="width:100%; height:450px;"></div>
            <p class="help-block">{% trans 'Click on map to add the point.' %}</p>
        </div>
    </div>
{% endblock %}