{% load widget_tweaks %}
{% load forms %}

{{ form.non_field_errors }}
{% for field in form %}
    {% if not field|is_hidden %}
        <div class="form-group">
            {% if field|is_checkbox %}
                <div class="col-sm-offset-3 col-sm-9">
                    <div class="checkbox">
                        <label>
                            {{ field }} {{ field.label }}
                        </label>
                    </div>
                </div>
            {% elif field|is_radio %}
                <label for="{{ field.id_for_label }}" class="control-label col-xs-3">{{ field.label }}</label>
                <div class="col-sm-9">
                    <div class="radio">
                        <label>
                            {{ field }}
                        </label>
                    </div>
                </div>
            {% else %}
                <label for="{{ field.id_for_label }}" class="control-label col-xs-3">{{ field.label }}</label>
                <div class="col-xs-9">
                    {% if not field|is_file %}
                        {% if not field|is_multiple_select %}
                            {{ field|add_class:"form-control" }}
                        {% else %}
                            {{ field|add_class:"form-control"|add_class:"chosen" }}
                        {% endif %}
                    {% else %}
                        {{ field }}
                    {% endif %}
                    {{ field.errors }}
                    {% if field.help_text and not field|is_multiple_select %}
                        <p class="help-block">{{ field.help_text }}</p>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    {% else %}
        {{ field }}
    {% endif %}
{% endfor %}
{{ inlines.management_form }}
<table>
    {% for form in inlines %}
        {{ form }}
    {% endfor %}
</table>
