{% load i18n %}

<div class="col-sm-3">
    <div class="panel panel-dashboard">
        <div class="panel-heading">
            <div class="pull-right">
                <a href="{% url 'dashboard' %}" class="tt" data-title="{% trans 'Refresh' %}">
                    <i class="fa fa-refresh"></i>
                </a>
            </div>
            <i class="fa fa-pencil-square"></i> {% trans 'News and Articles' %}
        </div>
        <div class="panel-body text-center">
            <div class="row">
                <div class="circle-progress" data-value="{{ items_count }}" data-color="#4D88C3">
                    <strong></strong>
                </div>
                <p class="help-block">{% trans 'News and Articles' %}</p>
            </div>

        </div>
        <div class="panel-footer">
            <a href="{% url 'feeds:index' %}" class="btn btn-block btn-link">{% trans 'Go to News and Articles' %}</a>
        </div>
    </div>
</div>