{% extends "dartcms/base/base.html" %}

{% load i18n static dartcms_helpers %}

{% block body %}
    <div class="wrapper">
        {% block wrapper %}
            <nav class="navmenu navmenu-default navmenu-fixed-left offcanvas-sm" id="id-navmenu">
                <a class="navmenu-brand" href="#">
                    <img src="{% static 'dartcms/images/logo.png' %}"/>
                </a>
                <ul class="nav navmenu-nav">
                    <li>
                        {% url 'dartcms:dashboard:index' as dashboard_index_url %}
                        <a href="{{ dashboard_index_url }}">
                            <i class="fa fa-home"></i> {% trans 'Dashboard' %}
                        </a>
                    </li>
                    {% for group in module_groups %}
                        {% if group.modules.all %}
                            <li class="dropdown {% if active_module.group_id == group.slug %}active open{% endif %}">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa {{ group.fa }}"></i>
                                    {% if LANGUAGE_CODE == 'en' %}{{ group.name_en }}{% else %}
                                        {{ group.name }}{% endif %}
                                    <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu navmenu-nav" role="menu">
                                    {% for module in group.modules.all %}
                                        {% if module.is_enabled and module in request.user.module_set.all %}
                                            {% with module_url=dashboard_index_url|add:module.slug|add:"/" %}
                                                <li {% ifstartswith request.path module_url %}class="active"{% endifstartswith %}>
                                                    <a href="{{ module_url }}">
                                                        {% if LANGUAGE_CODE == 'en' %}
                                                            {{ module.name_en }}
                                                        {% else %}
                                                            {{ module.name }}
                                                        {% endif %}
                                                    </a>
                                                </li>
                                            {% endwith %}
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </li>
                        {% endif %}
                    {% endfor %}
                    <li>
                        <a href="{% url 'dartcms:auth:logout' %}">
                            <i class="fa fa-sign-out"></i> {% trans 'Logout' %}
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="content">
                <nav class="navbar navbar-default">
                    <div class="container-fluid">
                        <button type="button" class="navbar-toggle" data-toggle="offcanvas"
                                data-target="#id-navmenu" aria-expanded="false" data-canvas="body">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <div class="collapse navbar-collapse">
                            <ul class="nav navbar-nav navbar-right">
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                       aria-haspopup="true" aria-expanded="false">{{ request.user.username }} <span
                                            class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">{% trans 'Change password' %}</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
                <div class="page-content">
                    {% block page_content %}{% endblock %}
                </div>
            </div>
        {% endblock %}
    </div>
{% endblock %}