

.item-control {
    margin: 0 5px;
    font-size: 16px;
}

.context-menu {
    position: absolute;
    display: none;
    z-index: 999;
}

.navbar-default {
    background: #39546F;
    border: 0;
    -webkit-box-shadow: 0px 1px 3px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 1px 3px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 3px 0 rgba(0, 0, 0, 0.1);
}

.btn {
    font-family: "PT Sans Bold", Arial, sans-serif;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #f5f5f5;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #f5f5f5;
}





.panel {
    border: 1px solid #CECECE;
    border-width: 0 1px 4px 1px;
}

.btn:hover {
    border-bottom-width: 4px;
    opacity: 0.9;
    margin-top: 0;
}

.btn i {
    margin-right: 5px;
}






.well {
    border: 0;
    background: #fff;
    box-shadow: 1px 1px 2px 0 #ccc;
}

.breadcrumb {
    background: transparent;
    padding: 0;
    border: 0;
}



th {
    font-family: "PT Sans Bold", Arial, sans-serif;
}



.map-holder {
    box-shadow: 0 2px 2px 0 #bebebe;
}

